<!-- Hero -->
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
		
			<div class="col-sm-4">
                <div class="team-member">
                    <img src="/assets/img/ProfilePhoto.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
			
            <div class="intro-lead-in">Hi, I'm Kenny Gregory</div>
            <div class="intro-heading">I like to create</div>
            <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>
